@import "../../styles/breakpoints";
.footer{
  display: flex;
  align-items: center;
  background-color: #000000;
  min-height: 120px;
  color: white;
  width: 100%;
  font-family: "Sonoma BR";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  &__content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
    padding: 32px 24px;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    &--logoM{
      display: block;
    }
    &--logo{
      display: none;
    }
  }
  &__divider {
    width: 100%;
    border: 1px solid #2B304E;
  }
  @include respond(sm) {
    min-height: 64px;
    &__content{
      flex-direction: row;
      &--logo{
        display: block;
      }
      &--logoM{
        display: none;
      }
    }
    &__divider {
      display: none;
    }
  }
}