.link {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #000;
  margin-bottom: 24px;
}